@import url('Knacss.css');


body { 
	width: 1000px;
	margin: auto;
	color:white;
	font-family: "Open Sans", sans-serif;
	font-size:1.5em;
}

div { padding: 10px;}
.line { padding: 20px;}
.icone{ text-align:center}
aside { padding: 10px;}
.header{background:black;color:white}

body, html { height:100%; ;}
.page { height:100%; width:100%; display:table;}
.container { display:table-cell; vertical-align:middle; margin:0; }
.content { background: black; margin:0px; padding:0;}
.kitty{ text-align:center;background:white;}
.nom {padding-top:30px; padding-left:30px;font-size:1.2em}
.trailer {padding-right:30px;}

h4 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    margin: auto;
}


.triptique .col:nth-child(1) {background: #e3e6dc}
.triptique .col:nth-child(1) .line:nth-child(1) {background: #b5b8b0;color:white;}
.triptique .col:nth-child(1) .line:nth-child(2) {background: #e3e6dc}

.triptique .col:nth-child(2) {background: #3BDA00}
.triptique .col:nth-child(2) .line:nth-child(1) {background: #8EEC6A;color:black}
.triptique .col:nth-child(2) .line:nth-child(2) {background: #3BDA00}

.triptique .col:nth-child(3) {background: white}
.triptique .col:nth-child(3) .line:nth-child(1) {background: #EEEEEE;color:black}
.triptique .col:nth-child(3) .line:nth-child(1) a:hover{background: #EEEEEE;color:red}
.triptique .col:nth-child(3) .line:nth-child(2) {background: white}

.triptique .col:nth-child(4) {background: #5baaec;}
.triptique .col:nth-child(4) .line:nth-child(1) {background: #7bbbef;color:white;}
.triptique .col:nth-child(4) .line:nth-child(2) {background: #5baaec}



#introduceWords {padding-top:20px;}
.words {text-align:center; background: black; color:white;}
.words .col:nth-child(2) {font-size: 1.7143em;}
.words .col:nth-child(3) {font-size: 1.7143em;}
.words .col:nth-child(4) {font-size: 1.7143em;}

a {
	color:white;
	text-decoration:none;
}

a:hover{
	color:#5baaec;
	text-decoration:none;
}