@import url('Knacss.css');

body { 
	width: 100%;
	margin: auto;
	color:black;
	font-family: "Open Sans", sans-serif;
	font-size:1.6em;
	background:black;
	text-align:center;
}

.name { 
	padding: 30px;
	padding-left:50px;
	font-family: "Satisfy", sans-serif;
	font-size:2em}

.line { 
	text-align:center;
	padding:20px;
}

.row { 
	text-align:center;
	padding:20px;
}

.icone{ 
	text-align:center}

.header{
	background:#8EEC6A;
	color:black;
	border-bottom-style:solid;
	border-bottom-width:5px
	}


.content { 
	background: #EEEEEE;
	color:black;
	margin:0px; 
	padding:0;
	text-align:center;}


.kitty{ 
	text-align:center;
	background:white;
	}
	
h4 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    margin: auto;
}

a {
	color:black;
	text-decoration:none;
}

a:hover{
	color:#5baaec;
	text-decoration:none;
}

.header a {
	color:black;
	text-decoration:none;
}

.header a:hover {
	color:#5baaec;
	text-decoration:none;
}

.introduceWords {padding-top:10px;}
.words {text-align:center; background: black; color:white;}
.words .col:nth-child(2) {font-size: 1.7143em;}
.words .col:nth-child(3) {font-size: 1.7143em;}
.words .col:nth-child(4) {font-size: 1.7143em;}


.words a {
	color:white;
	text-decoration:none;
}

.words a:hover{
	color:#5baaec;
	text-decoration:none;
}