@import url('Knacss.css');

body { 
	width: 100%;
	margin: auto;
	color:white;
	font-family: "Open Sans", sans-serif;
	font-size:1.5em;
}

.name { padding: 30px;
	font-family: "Satisfy", sans-serif;
	font-size:2em}

.synopsis { padding: 20px;}

.adress { padding: 20px;}

.line { padding: 20px;}

.icone{ text-align:center}
aside { padding: 10px;}

.header{background:#8EEC6A;color:black}


.content { background: black; margin:0px; padding:0;}
.kitty{ text-align:center;background:white;}
.nom {padding-top:30px; padding-left:30px;font-size:1.2em}
.trailer {padding-right:30px;}

h4 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    margin: auto;
}


.linkedin {background: #e3e6dc}
.linkedin .line:nth-child(1) {background: #b5b8b0;color:white;}
.linkedin .line:nth-child(2) {background: #e3e6dc}

.blog {background: #3BDA00}
.blog .line:nth-child(1) {background: #8EEC6A;color:black}
.blog.line:nth-child(2) {background: #3BDA00}

.github {background: white}
.github .line:nth-child(1) {background: #EEEEEE;color:black}
.github .line:nth-child(1) a:hover{background: #EEEEEE;color:red}
.github .line:nth-child(2) {background: white}

.twitter {background: #5baaec;}
.twitter .line:nth-child(1) {background: #7bbbef;color:white;}
.twitter .line:nth-child(2) {background: #5baaec}

#introduceWords {padding-top:20px;}
.words {text-align:center; background: black; color:white;}
.words .col:nth-child(2) {font-size: 1.7143em;}
.words .col:nth-child(3) {font-size: 1.7143em;}
.words .col:nth-child(4) {font-size: 1.7143em;}

a {
	color:white;
	text-decoration:none;
}

a:hover{
	color:#5baaec;
	text-decoration:none;
}