@import url('Knacss.css');

body { 
	width: 100%;
	margin: auto;
	color:black;
	font-family: "Open Sans", sans-serif;
	font-size:1.8em;
	background:black;
	text-align:center;	
}

.name { 
	font-family: "Satisfy", sans-serif;
	font-size:2.4em;
	text-shadow: 1px 1px 1px #EEEEEE;
	}

.line { 
	text-align:center;
	padding-top:10px;
}

.row { 
	text-align:center;
	padding:20px;
}

.icone{ 
	text-align:center
}

.header{
	background:#8EEC6A;
	color:black;
	border-bottom-style:solid;
	border-bottom-width:5px;
	padding:20px;
	background-image:url('../images/img-noise-361x370.png');
}
.footer{
	background:#8EEC6A;
	color:black;
	padding:0;
	margin:0;
	font-size:1em;
	background-image:url('../images/img-noise-361x370.png');
}


.content { 
	background: #EEEEEE;
	color:black;
	margin:0px; 
	padding:0;
	text-align:center;
	border-bottom-style:solid;
	border-bottom-color:black;
	border-bottom-width:5px;
	padding-top:20px;
	background-image:url('../images/img-noise-361x370.png');
}
.underlined{
	border-bottom-style:solid;
	border-bottom-color:#323232;
	border-bottom-width:1px;
}
.italic {
	font-style:italic;
	font-size:1.5em;
}
.kitty{ 
	text-align:center;
	background:white;
	}
	
h4 {
    font-size: 1.9em;
    font-weight: bold;
    margin: auto;
}

a {
	color:black;
	text-decoration:none;
}

a:hover{
	color:#5baaec;
	text-decoration:none;
}